.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 0 20px 130px;
  padding: 0 1rem 1rem;
}

.list {
  font-size: 25px;
  line-height: 50px;
}

.cabecalho {
  display: flex;
  justify-content: center;
}
